{% extends 'FreeVRSCoreBundle:Default:base.html.twig' %}

{% block content %}
<div class="container">

    <form class="col l6 m12 s12" method="post" action="{{ path('free_vrs_auth_validate_credentials') }}">

        <h4 class="light">Add Time Slot</h4>

        <div class="row">
            <div class="input-field col l3 m5 s6">
                <input id="date" type="date" class="datepicker" />
                <label for="date">Date</label>
            </div>
            <div class="input-field col l3 m5 s6">
                <input id="time" name="time" type="text" class="validate" />
                <label for="time">Time</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col l5 m7 s9">
                
                <p class="range-field">
                    <input id="no_of_vehicles" type="range" min="1" max="100" value="1" data-target="#no_of_vehicles_display" />
                    
                </p>
                <label for="no_of_vehicles">No. of Vehicles</label>
            </div>
            <div class="col l7 m5 s3">
                <h4 id="no_of_vehicles_display" class="range-display">1</h4>
            </div>
        </div>
        <div class="row">
            <div class="input-field col l5 m7 s9">    
                <p class="range-field">
                    <input id="capacity" type="range" min="2" max="100" value="1" data-target="#capacity_display" />
                </p>
                <label for="capacity">Vehicle Capacity</label>
            </div>
            <div class="col l7 m5 s3">
                <h4 id="capacity_display" class="range-display">1</h4>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="waves-effect waves-light btn" type="submit">Add</button>
                <button class="btn-flat white red-text" type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $('.datepicker').pickadate({
        format: 'yyyy-mm-dd',
        selectMonths: true, 
        selectYears: 2
    });
    
    $('input[type="range"]').on('input', function() {
        $($(this).data('target')).html($(this).val());
    });
</script>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .range-field {
        margin-top: 30px;
    }
    .range-display {
        margin-top: 40px;
    }
</style>
{% endblock %}