{% extends 'FreeVRSCoreBundle:Default:base.html.twig' %}

{% block nav_menu %}
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    table.schedule thead tr th,
    table.schedule tbody tr td
    {
        padding-left: 2%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">

    <h4 class="light">Today's Shuttle Schedule</h4>

    <div class="row">
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-content center">
                    <h3 class="light">7:00 PM</h3>
                </div>
                <div class="card-action center">
                    <a href="#" class="red-text">38 persons</a>
                    <a href="#" class="red-text">3 routes</a>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <div class="card light-green lighten-1">
                <div class="card-content center">
                    <h3 class="light">7:30 PM</h3>
                </div>
                <div class="card-action center">
                    <a href="{{ path('free_vrs_shuttle_routing_view_timeslot', { date: '2015-08-01', time: '7:30'}) }}" class="green-text text-darken-4">66 persons</a>
                    <a href="{{ path('free_vrs_shuttle_routing_view_timeslot', { date: '2015-08-01', time: '7:30'}) }}" class="green-text text-darken-4">5 routes</a>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-content center">
                    <h3 class="light">8:00 PM</h3>
                </div>
                <div class="card-action center">
                    <a href="#" class="red-text">22 persons</a>
                    <a href="#" class="red-text">2 routes</a>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-content center">
                    <h3 class="light">8:30 PM</h3>
                </div>
                <div class="card-action center">
                    <a href="#" class="red-text">40 persons</a>
                    <a href="#" class="red-text">3 routes</a>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-content center">
                    <h3 class="light">9:00 PM</h3>
                </div>
                <div class="card-action center">
                    <a href="#" class="red-text">111 persons</a>
                    <a href="#" class="red-text">8 routes</a>
                </div>
            </div>
        </div>
        <div class="col l4 m6 s12">
            <div class="card">
                <div class="card-content center">
                    <h3 class="light">9:30 PM</h3>
                </div>
                <div class="card-action center">
                    <a href="#" class="red-text">12 persons</a>
                    <a href="#" class="red-text">1 routes</a>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col">
            <button class="btn-large">View Past Records</button>
        </div>
    </div>

</div>

<div class="fixed-action-btn" style="bottom: 10%; right: 1%; top: unset;">
    <a class="btn-floating btn-large waves-effect waves-light red tooltipped" href="{{ path('free_vrs_shuttle_routing_add_timeslot') }}" 
       data-tooltip="Add a time slot" data-position="left">
        <i class="material-icons">add</i>
    </a>
</div>

{% endblock %}
